<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>
<body>
    <div class="page-wrapper">
        <%- include('partials/nav.ejs') %>
        <main>
            <h1 class="total-price">TOTAL PRICE:</h1>
            <h1 class="total-price" id="total-price-amount"><%- total %></h1>
            <form action="/list" method="POST" id="submit-form">
                <input type="hidden" value="" id="delete-id" name="deleteId">
                <table>
                    <thead>
                        <tr>
                            <th>Amount</th>
                            <th>Name</th>
                            <th>Price pr.</th>
                            <th>Total price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0; i < items.length; i++) { %>
                            <tr>
                                <td><%- items[i].amount%></td>
                                <td><%- items[i].name%></td>
                                <td><%- items[i].price%> DKK</td>
                                <td><%- items[i].total%> DKK</td>
                                <td><input type="button" value="Delete" name="delete" onclick="submitForm('<%- items[i].id %>')"></td>
                            </tr>
                        <%};%>
                    </tbody>
                </table>
            </form>
        </main>
    </div>

    <script>
        function submitForm(id) {
            document.getElementById("delete-id").setAttribute("value", id);
            document.getElementById("submit-form").submit();
        }
    </script>
</body>
</html>